/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 100vh!important;}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #fff!important;
    height: 100vh;
}

.posts-col {
    height: 100vh !important;
    overflow-y: scroll;
}

.trending-col {
    height: 100vh !important;
    overflow-y: scroll;
}


.be-comment-block {
    margin-bottom: 50px !important;
    border: 1px solid #edeff2;
    border-radius: 2px;
    padding: 50px 70px;
    border:1px solid #ffffff;
}

.comments-title {
    font-size: 16px;
    color: #262626;
    margin-bottom: 15px;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.be-img-comment {
    width: 60px;
    height: 60px;
    float: left;
    margin-bottom: 15px;
}

.be-ava-comment {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.be-comment-content {
    margin-left: 80px;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-name {
    font-size: 13px;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.be-comment-content a {
    color: #383b43;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-time {
    text-align: right;
}

.be-comment-time {
    font-size: 11px;
    color: #b4b7c1;
}

.be-comment-text {
    font-size: 13px;
    line-height: 18px;
    color: #7a8192;
    display: block;
    background: #f6f6f7;
    border: 1px solid #edeff2;
    padding: 15px 20px 20px 20px;
}

.form-group.fl_icon .icon {
    position: absolute;
    top: 1px;
    left: 16px;
    width: 48px;
    height: 48px;
    background: #f6f6f7;
    color: #b5b8c2;
    text-align: center;
    line-height: 50px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.form-group .form-input {
    font-size: 13px;
    line-height: 50px;
    font-weight: 400;
    color: #000;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #edeff2;
    border-radius: 3px;
}

.form-group.fl_icon .form-input {
    padding-left: 70px;
}

.form-group textarea.form-input {
    height: 150px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
    height: auto;
    padding: 15px;
    }
    .row.content {height: auto;} 
}

.mainIcon {
    max-height: 2.4rem !important;
}

.btn {
    font-size: 1.22rem !important;
}

.form-block .card-footer {
    background-color: #fff;
    border-top-color: #fff;
}
.form-block .card {
    border-left-color: #fff !important;
    border-right-color: #fff !important;
}

a.fa-regular, a.fa-solid {
    text-decoration: none !important;
}

/*Remove the scrollbar from Chrome, Safari, Edge and IE*/
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

* {
  -ms-overflow-style: none !important;
}

.card-footer.post-card {
    background-color: transparent !important;
}

.btn {
    font-weight: 550!important;
}

.top-links {
    font-size: larger;
    font-weight: 600;
}

.top-links .col.text-center:hover {
    background-color: rgba(15, 20, 25, 0.1);
}

.top-links .col.text-center {
    min-height:2.5rem !important;
}

.container-fluid {
    position: relative !important;
}

.sidenav {
    padding-left: 6rem!important;
}

.no-decoration {
    text-decoration: none!important;
}

.response-area, #userToRespondCard {
    border:none !important;
}

.x-premium, .etiquetas {
    background-color: rgba(247, 249, 249, 1.00);
    border: none !important;
}

.x-premium .card-title, .etiquetas .card-title {
    font-weight: 700 ;
}

.trend-container span {
    color: grey !important;
}
